.head1{
    position: fixed;
    width:100%;
    z-index: 2;
    
}

.ht
{
    height: 100px;
}

.footer1 {
    background-color: rgb(7, 7, 7);
    color: whitesmoke;
    text-align: center;
    margin: 0;
    
  }
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
   
  }

  @media only screen and (min-width: 600px) {
    body {
      background-color: rgb(204, 198, 198);
    }
   
  }
  @media only screen and  (max-width: 768px)
  {
      body {
          font-family: monospace;
      }
  }

  

  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  #yt-vi
  {
    align-content: center;
  }
  .cor-img
  {
    height:450px;
  }

  @media (max-width)
  {
    .cor-img
    {
      height:300px;
    }
  }

 
 .mar-top
 {
    margin-top: 4rem;

 }

 .mar-bt
 {
   margin-bottom: 3rem;
 }



  




